<br />
<div class="row">
  <div class="col-sm-6">
    <h4>Delivery Address</h4>
    <form class="form" [formGroup]="addressForm" >
      <div class="form-group">
        <label for="">Delivery Address</label>
        <input formControlName="address" type="text" placeholder="address...."
          class="form-control rounded-0" required>
      </div>
      <div class="form-group">
        <label for="">Dzongkhang</label>
        <input formControlName="dzongkhag" type="text" placeholder="dzongkhag...."
          class="form-control rounded-0" required>
      </div>
      <button (click)="placeOrder()" class="btn btn-success" type="submit">Place Order</button>
      <div class="alert alert-success" role="alert" *ngIf="success">
        Order Successfully placed.
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <h3>Order summery</h3>
    <div>
      <h6>You have {{ num }} products in your shopping cart.</h6>
      <hr>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">SI No.</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of checkOutItems let i = index">
          <tr>
            <td>{{ i + 1 }}</td> 
            <td>{{item.name}}</td>
            <td>Nu. {{item.price }}</td>
          </tr>
        </tbody>
        
        <tr>
          <td colspan="2"><b>Total Amount:</b></td>
          <td><b>Nu. {{ sum }}</b></td>
        </tr>
      </table>
    </div>
  </div>
</div>