<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let product of products">
    <div class="card text-center">
      <div class="card-body">

        <img src="#" width="100px" height="130px"/>
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Nu. {{product.price }}</p>
        <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
        <div class="alert alert-success" role="alert" *ngIf="product.inCart">
          Added to your cart!
        </div>
      </div>
      
      <div class="card-footer text-muted">
        {{product.description }}<br>
        size: {{product.size}}
      </div>
    </div>
  </div>
</div>