<br>
<h2>Products in your cart</h2>
<div class="row mt-5">
  <div class="col-md-8">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Size</th>
        <th scope="col">Order Date</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody *ngFor="let item of cartItem  ">
      <tr>
        
        <td>{{item.name}} </td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.size}}</td>
        <td>{{item.order_date | date }}</td>
        <td><button class="btn btn-sm btn-danger" (click)="removeFromCart(item.cart_id)">Remove</button></td>

      </tr>
    </tbody>
    <button class="btn btn-primary" *ngIf="!noitem" routerLink="/checkout">Checkout</button>
    <!-- <button class="btn btn-primary" *ngIf="noitem" routerLink="/checkout">No items in your cart!</button> -->
  </table>
  <div class="alert alert-primary mt-2" *ngIf="noitem" role="alert">
    No items in your cart!
  </div>
  </div>
  <div class="col-md-4">
    
  </div>
</div>
