<br>
<h3>Products in your cart</h3>
<div class="row mt-5">
  <div class="col-md-10">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2">Description</th>
        <th>Price</th>
        <th>Size</th>
        <th>Order Date</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody *ngFor="let item of cartItem  ">
      <tr>
        
        <td>{{item.name}} </td>
        <td colspan="2">{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.size}}</td>
        <td>{{item.order_date | date }}</td>
        <td><button class="btn btn-sm btn-danger" (click)="removeFromCart(item.cart_id)">Remove</button></td>

      </tr>
    </tbody>
    <button class="btn btn-primary" *ngIf="noitem" routerLink="/checkout">Checkout</button>
    <!-- <button class="btn btn-primary" *ngIf="noitem" routerLink="/checkout">No items in your cart!</button> -->
  </table>
  <div class="alert alert-primary mt-2" *ngIf="!noitem" role="alert">
    No items in your cart!
    <button class="btn btn-success ml-5" routerLink="/allproducts">Add to Cart</button>
  </div>
  </div>
  <div class="col-md-4">
    
  </div>
</div>
