<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#newProductModal">
    Add new Product
</button>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">product name</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let product of products">
        <tr>
            <td>{{ product.name }}</td>
            <td>Nu. 500</td>
            <td><Button class="btn btn-link" data-toggle="modal" data-target="#newProductModal" (click)="editProduct(product.product_id)">Edit other
                    Details</Button>&nbsp;
                <button class="btn btn-sm btn-danger" (click)="removeproduct(product.product_id)">Remove</button>
            </td>
        </tr>

    </tbody>
</table>

<!-- add product Modal -->
<div class="modal fade" id="newProductModal" tabindex="-1" role="dialog" aria-labelledby="newProductLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="addProductForm">
                <div class="modal-header">
                    <h5 class="modal-title" >Add new product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Product Name</label>
                        <input formControlName="name" class="form-control rounded-0" required >
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input formControlName="description" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input formControlName="price" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select formControlName="category_id" class="form-control rounded-0">
                            <option *ngFor="let c of category" [ngValue]="c.id">{{ c.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Size</label>
                        <select formControlName="size" class="form-control rounded-0">
                            <option *ngFor="let s of size" [ngValue]="s">{{ s }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Product image</label>
                        <input formControlName="image" type="file" (change)="onFileSelected($event)"
                            class="form-control rounded-0" required>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="addProduct()" class="btn btn-success float-right">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- edit product Modal -->
<!-- <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editProductLabel" aria-hidden="true"
    *ngFor="let product of products">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="addProductForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductLabel">Edit product Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Product Name</label>
                        <input formControlName="name" value="{{product.name}}"
                            class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input formControlName="description" type="text"
                            class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input formControlName="price" type="number"
                            class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select formControlName="category_id" class="form-control rounded-0">
                            <option *ngFor="let c of Category" [ngValue]="c.id">{{ c.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Size</label>
                        <select formControlName="size" class="form-control rounded-0">
                            <option *ngFor="let s of size" [ngValue]=" s ">{{ s }}</option>
                        </select>
                    </div>
                
                    <div class="form-group">
                        <label>Product image</label>
                        <input formControlName="image" type="file" class="form-control rounded-0"
                            required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="addProduct()" class="btn btn-success float-right">Add</button>
                </div>
            </form>
        </div>
    </div>
</div> -->