<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#newProductModal">
    Add new Product
</button> -->
<button class="mt-3" mat-raised-button (click)="openDialog()">Add new Product</button>

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">product name</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let product of products">
        <tr>
            <td>{{ product.name }}</td>
            <td>Nu. {{ product.price }}</td>
            <td>
                <button class="btn btn-link" mat-raised-button (click)="getProduct(product.product_id)">Edit</button>

                <button class="btn btn-sm btn-danger ml-2" mat-raised-button (click)="removeproduct(product.product_id)">Remove</button>
            </td>
        </tr>

    </tbody>
</table>
